services:
  web-server:
     image: {{ registry }}/{{ project_name }}:{{ tag }}
     container_name: zadanie-nginx
#    volumes:
#      - '/opt/web/html:/var/www/html'
     ports:
       - '{{ ports }}:80'
     restart: unless-stopped
networks:
 default:
